.wrap {
    width: 98%;
}

.floatleft {
    float:left; 
    width: 59%;
    background-color: slategray;
    height: 764px;
    color: white;
}

.floatright {
float: right;
    align-content: center;
    height: 764px;
    width: 39%;
    background-color: #0a76b6;
}

button{
    color: black;
    background-color: #0a76b6;
}

body {
    padding: 10px;
}

#logo{
    align-content: center;
}