.wrap {
    width: 100%;
}

.floatleft {
    float:left; 
    width: 60%;
    background-color: slategray;
    height: 480px;
    color: white;
}

.floatright {
float: right;
    height: 480px;
    width: 40%;
}
